.nav_link {
  color: #75767F;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
}

.is_active {
  color: #fff;
}
