@font-face {
  font-family: 'Mont';
  src: url('../../api/fonts/Mont-Bold.otf') format('opentype'),
    url('../../api/fonts/Mont-SemiBold.otf') format('opentype'),
    url('../../api/fonts/Mont-Regular.otf') format('opentype');
  font-weight: medium;
}
