@import './utils/fonts';
@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';
@import './container.scss';
@import './grid.scss';
@import './page.scss';


html {
  font-family: 'Mont', sans-serif;
  background-color: $color-bg;
  color: $color-text-white;
}
